.list{
    display:grid;
    grid-template-columns: 0.5fr 0.5fr;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 30px;
}

.item {
    width:550px;
    margin-top: 0px;
    height: 450px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

.oneItem{
    width:550px;
    margin-top: 25px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.noButton >p {
    font-size: 18px;
    width:400px;
}

.noButtonMain{
    width:550px;
    height: 380px;
    border:1px solid rgb(8,127,255);
    border-radius: 8px;
    padding: 40px;
    background-color: rgba(139, 191, 246, 0.123);;

}

.delete{
    margin-top: 10px;
    border:2px solid rgb(242, 58, 8);
    background-color: white;
    color:rgb(242, 58, 8);
    border-radius: 4px;
    padding:5px 10px;
    font-size: 12px;
    font-weight: bold;
    font-size: 12px;
    width:100px
    
}

.withButton{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.noButton{
    margin-bottom: 10px;
}